*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    padding-bottom: 0px;
}

.cabecalho .cx-logos{
    max-width: 240px;
    margin: 0 auto;
    display: block;
    padding: 30px 18px 20px;
}

.cabecalho .cx-logos img{
    width: 100%;
}

.cabecalho .cx-logos #avalogo{
    margin-top: 20px;
}

.cabecalho .desc-ini{
    display: flex;
    justify-content: center;
    color: #25adf7;
}

.cabecalho::after{
    content: '';
    display: block;
    height: 16px;
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(45deg, #0861d2 40%, #fad218 40%, #34df69 20%);
    background-size: 120%;
    background-position: left;
    animation: moveFundo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes moveFundo {
    1%{background-position: left;}
    50%{background-position: right;}
    100%{background-position: left;}
}

.sec-1{
    background-image: linear-gradient(145deg, #25adf7, #25adf7, #25adf7, #f4f4f4);
    padding: 30px 18px;
}

.sec-1 .cx-ava{
    display: flex;
    align-items: center;
    border: solid 1px #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    padding: 10px;
}

.sec-1 .cx-ava img{
    width: 95%;
    filter: invert(1);
}

.sec-1 .cx-ava .ava-img{
    width: 16%;
}

.sec-1 .cx-ava .ava-desc-btn{
    width: 84%;
    padding-left: 10px;
}

.sec-1 .cx-ava .ava-desc-btn h1{
    font-size: 18px;
}
.sec-1 .cx-ava .ava-desc-btn p{
    font-size: 16px;
    margin-bottom: 18px;
}

.sec-1 .cx-ava .ava-desc-btn a{
    display: block;
    text-align: center;
    width: 260px;
    color: #0861d2;
    background-color: #ffffff;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
}
.sec-1 .cx-ava .ava-desc-btn a:hover{
    background-color: #34df69;
    color: #ffffff;
    transition: background-color .3s;
}


footer{
    padding: 30px 18px;
    text-align: center;
}
footer p{
    font-weight: 900;
    color: #0861d2;
}
footer span{
    font-size: 10px;

}

/*
body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(145deg, #25adf7, #25adf7, #f4f4f4);
    background-repeat: no-repeat;
    background-size: contain;
}

.header{
    background-color: #ffffff;
    height: auto;
    margin: 0 auto;
    padding: 40px 0px;
}
@media screen and (max-width:600px){
    .header{
        max-width: 600px;
        padding: 40px 20px;
    }
}

.header::after{
    content: '';
    display: block;
    height: 16px;
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(45deg, #0861d2 40%, #fad218 40%, #34df69 20%);
    background-size: 120%;
    background-position: left;
    animation: moveFundo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moveFundo {
    1%{background-position: left;}
    50%{background-position: right;}
    100%{background-position: left;}
}

.header .cx-logos{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 918px;
    margin: 0px auto 40px;
}
@media screen and (max-width:600px){
    .header .cx-logos{
        max-width: 540px;
        display: block;
        margin: 0 auto;
    }
}

.header .cx-logos img{
    width: 50%;
    padding: 0px 40px 0px;
}
@media screen and (max-width:600px){
    .header .cx-logos img{
        width: 50%;
    }
}

.header .cx-logos #smelogo{
    width: 60%;
}

#smelogo, #avalogo{
    animation: surgir;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes surgir {
    0%{filter: opacity(0); transform: scale(0);}

    40%{filter: opacity(1); transform: scale(1);}

    45%{filter: opacity(1); transform: scale(1);}

    90%{filter: opacity(1); filter: grayscale(1); transform: scale(1);}

    100%{filter: opacity(1); filter: grayscale(1); transform: scale(1);}
   
}

.header .desc-ini{
    width: 918px;
    margin: auto;
    color: #0861d2;
    text-align: center;
    font-size: 26px;
}
@media screen and (max-width:600px){
    .header .desc-ini{
        max-width: 600px;
    }
}

.sec-1{
    width: 918px;
    margin: 40px auto 0px;
}
@media screen and (max-width:600px){
    .sec-1{
        max-width: 600px;
        margin: 0 auto;
        padding: 0px 16px;
    }
}

.sec-1 .cx-ava{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    border: solid 1px #ffffff;
    border-radius: 14px;
    padding: 10px;
}
@media screen and (max-width:600px){
    .sec-1 .cx-ava{
        width: 100%;
    }
}

.sec-1 .cx-ava .ava-img{
    width: 40%;
}

.sec-1 .cx-ava .ava-img img{
    width: 60%;
    filter: invert(1);
}

.sec-1 .cx-ava .ava-desc-btn{
    color: #ffffff;
}

.sec-1 .cx-ava .ava-desc-btn a{
    display: block;
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    color: #0861d2;
    width: 260px;
    padding: 10px 5px;
    border-radius: 10px;
}



footer{
    background-color: #ffffff;
    text-align: center;
    padding: 60px 0px 40px;
}

footer p{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 30px;
}

footer span{
    font-size: 10px;
}
*/