*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(145deg, #25adf7, #25adf7, #f4f4f4);
}

.header{
    background-color: #ffffff;
    height: auto;
    margin: 0 auto;
    padding: 40px 0px;
}

.header::after{
    content: '';
    display: block;
    height: 16px;
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(45deg, #0861d2 40%, #fad218 40%, #34df69 20%);
    background-size: 120%;
    background-position: left;
    animation: moveFundo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moveFundo {
    1%{background-position: left;}
    50%{background-position: right;}
    100%{background-position: left;}
}

header .cx-logos{
    display: flex;
    align-items: center;
    justify-content:center;
    width: 918px;
    margin: 0px auto 40px;
}

header .cx-logos img{
    width: 50%;
    padding: 0px 40px 0px;
}

header .cx-logos #smelogo{
    width: 60%;
}

#smelogo, #avalogo{
    animation: surgir;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes surgir {
    0%{filter: opacity(0); transform: scale(0);}

    40%{filter: opacity(1); transform: scale(1);}

    45%{filter: opacity(1); transform: scale(1);}

    90%{filter: opacity(1); filter: grayscale(1); transform: scale(1);}

    100%{filter: opacity(1); filter: grayscale(1); transform: scale(1);}
   
}

.header .desc-ini{
    width: 918px;
    margin: auto;
    color: #ffffff;
    text-align: center;
    font-size: 26px;
}

.sec-1{
    width: 918px;
    margin: 40px auto 0px;
}

.sec-1 .cx-ava{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    border: solid 1px #ffffff;
    border-radius: 14px;
    padding: 10px;
}

.sec-1 .cx-ava .ava-img{
    width: 30%;
}

.sec-1 .cx-ava .ava-img img{
    width: 70%;
    filter: invert(1);
}

.sec-1 .cx-ava .ava-desc-btn{
    color: #ffffff;
}

.sec-1 .cx-ava .ava-desc-btn a{
    display: block;
    margin-top: 40px;
    text-decoration: none;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    width: 260px;
    padding: 10px 5px;
    border-radius: 10px;
}



footer{
    background-color: #ffffff;
    text-align: center;
    padding: 60px 0px 40px;
}

footer p{
    font-weight: 900;
    font-size: 20px;
    margin-bottom: 30px;
}

footer span{
    font-size: 10px;
}