*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.cabecalho{
    padding-bottom: 0px;
}

.cabecalho .cx-logos{
    max-width: 220px;
    margin: 0 auto;
    display: block;
    padding: 30px 18px 20px;
}

.cabecalho .cx-logos img{
    width: 100%;
    animation: surgir;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes surgir {
    0%{filter: opacity(0); transform: scale(0);}

    40%{filter: opacity(1); transform: scale(1);}

    45%{filter: opacity(1); transform: scale(1);}

    90%{filter: opacity(1); filter: grayscale(1); transform: scale(1);}

    100%{filter: opacity(1); filter: grayscale(1); transform: scale(1);}
   
}

.cabecalho .cx-logos #avalogo{
    margin-top: 20px;
}

.cabecalho .desc-ini{
    display: flex;
    justify-content: center;
    color: #25adf7;
    font-size: 14px;
}

.cabecalho::after{
    content: '';
    display: block;
    height: 16px;
    margin-top: 20px;
    width: 100%;
    background-image: linear-gradient(45deg, #0861d2 40%, #fad218 40%, #34df69 20%);
    background-size: 120%;
    background-position: left;
    animation: moveFundo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes moveFundo {
    1%{background-position: left;}
    50%{background-position: right;}
    100%{background-position: left;}
}

.sec-1{
    background-image: linear-gradient(145deg, #25adf7, #25adf7, #25adf7, #f4f4f4);
    padding: 30px 18px;
}

.sec-1 .cx-ava{
    display: flex;
    align-items: center;
    border: solid 1px #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    padding: 10px;
}

.sec-1 .cx-ava img{
    width: 95%;
    filter: invert(1);
}

.sec-1 .cx-ava .ava-img{
    width: 16%;
}

.sec-1 .cx-ava .ava-desc-btn{
    width: 84%;
    padding-left: 10px;
}

.sec-1 .cx-ava .ava-desc-btn h1{
    font-size: 16px;
}
.sec-1 .cx-ava .ava-desc-btn p{
    font-size: 14px;
    margin-bottom: 18px;
}

.sec-1 .cx-ava .ava-desc-btn a{
    display: block;
    text-align: center;
    width: 260px;
    color: #0861d2;
    background-color: #ffffff;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
}
.sec-1 .cx-ava .ava-desc-btn a:hover{
    background-color: #34df69;
    color: #ffffff;
    transition: background-color .3s;
}


footer{
    padding: 30px 18px;
    text-align: center;
}
footer p{
    font-weight: 900;
    color: #0861d2;
}
footer span{
    font-size: 10px;

}


@media screen and (min-width:600px){
    .cabecalho .cx-logos{
        display: flex;
        width: 320px;
    }
}