/*---------------------------------------------
Formatação global
----------------------------------------------*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


/*--------------------------------------------------
Formatação para telas até de 600px "Mobile First"
----------------------------------------------------*/

.cabecalho{
    background-image: url(./sme.jpeg);
    background-position: left center;
    background-size: 100%;
    background-repeat: no-repeat;
    animation-name: moveSme;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: -1px auto 0px;
    border-top: solid 1px transparent;
}

@keyframes moveSme {
    0%{background-position: left center; background-size: 100%;}
    33%{background-position: center center; background-size: 120%;}
    66%{background-position: right center; background-size: 100%;}
    100%{background-position: left center; background-size: 100%;}
}

#transparencia{
    border-top: solid 1px transparent;
    background-color: rgba(255, 255, 255, .9);
}

.cabecalho .cx-logos{
    max-width: 220px;
    margin: 0 auto;
    display: block;
    padding: 20px 18px 20px;
}

.cabecalho .cx-logos img{
    width: 100%;
    animation: surgir;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes surgir {
    0%{filter: opacity(0); transform: scale(0);}
    40%{filter: opacity(1); transform: scale(1);}
    45%{filter: opacity(1); transform: scale(1);}
    90%{filter: opacity(1); filter: grayscale(1); transform: scale(1);}
    100%{filter: opacity(1); filter: grayscale(1); transform: scale(1);}
   
}

.cabecalho .cx-logos #avalogo{
    margin-top: 20px;
}

.cabecalho .desc-ini{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #25adf7;
    font-size: 14px;
    padding: 0px 20px 20px;
    margin: 0 auto;
}

.cabecalho::after{
    content: '';
    display: block;
    height: 16px;
    width: 100%;
    background-image: linear-gradient(45deg, #0861d2 40%, #fad218 40%, #34df69 20%);
    background-size: 120%;
    background-position: left;
    animation: moveFundo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes moveFundo {
    1%{background-position: left;}
    50%{background-position: right;}
    100%{background-position: left;}
}

.atencao{
    max-width: 302px;
    display: flex;
    column-gap: 10px;
    margin: 0px auto 10px;
    background-color: #fe8416;
    border-radius: 8px;
    padding: 5px;
    align-items: center;
    justify-content: center;
}
.atencao img{
    width: 14%;
    animation-name: alert;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes alert {
    to{filter: opacity(0);}
}
.atencao p{
    font-weight: 600;
}

#contador{
    border-radius: 8px;
    margin: 0px auto 20px;
    display: flex;
    justify-content: center;
    column-gap: 6px;
}
#contador div{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
}
#contador div span{
    color:#25adf7;
    font-size: 18px;
    font-weight: 900;
}
#contador div small{
    margin-left: 4px;
    color: #25adf7;
}

.preSec{
    padding: 30px 18px;
    background-color: #25adf7;
}

.preSec .cx-preSec{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    max-width: 340px;
    margin: 0 auto;
}

.preSec .cx-preSec .img-presec{
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-image: linear-gradient(45deg, #34df69 50%, #fad218 50%);
    margin-bottom: 20px;
    animation-name: surgirTxt;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.preSec .cx-preSec .img-presec img{
    width: 90%;
    border-radius: 100%;
}

.preSec p{
    text-align: justify;
    color: #ffffff;
    animation-name: surgirTxt;
    animation-timing-function: linear;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
@keyframes surgirTxt {
    0%{filter: opacity(.1);}
}

.sec-1{
    background-image: linear-gradient(145deg, #25adf7, #25adf7, #25adf7, #f4f4f4);
    padding: 30px 18px;
}

.sec-1 .cx-ava{
    display: flex;
    align-items: center;
    border: solid 1px #ffffff;
    border-radius: 10px;
    margin-bottom: 20px;
    color: #ffffff;
    padding: 10px;
}

.sec-1 .cx-ava img{
    width: 95%;
    filter: invert(1);
}

.sec-1 .cx-ava .ava-img{
    width: 16%;
}

.sec-1 .cx-ava .ava-desc-btn{
    width: 84%;
    padding-left: 10px;
}

.sec-1 .cx-ava .ava-desc-btn h1{
    font-size: 16px;
}
.sec-1 .cx-ava .ava-desc-btn p{
    font-size: 14px;
    margin-bottom: 18px;
}

.sec-1 .cx-ava .ava-desc-btn a{
    display: block;
    text-align: center;
    width: 260px;
    color: #0861d2;
    background-color: #ffffff;
    padding: 5px 5px;
    border-radius: 5px;
    text-decoration: none;
}
.sec-1 .cx-ava .ava-desc-btn a:hover{
    background-color: #34df69;
    color: #ffffff;
    transition: background-color .3s;
}


footer{
    padding: 30px 18px;
    text-align: center;
}
footer p{
    font-weight: 900;
    color: #25adf7;
}
footer span{
    font-size: 10px;

}


/*---------------------------------------------
Formatação para telas a partir de 600px
----------------------------------------------*/

@media screen and (min-width:600px){
    .cabecalho .cx-logos{
        display: flex;
        align-items: center;
        max-width: 600px;
        column-gap: 30px;
        padding: unset;
        margin: 40px auto 10px;
    }

    .cabecalho .cx-logos #avalogo{
        width: 35%;
        margin-top: unset;
    }

    .cabecalho .cx-logos #smelogo{
        width: 46%;
    }

    .preSec #txt-ini{
        max-width: 918px;
        margin: 0 auto;
        font-size: 18px;
    }

    .preSec .atencao{
        max-width: 302px;
    }
    .preSec .atencao img{
        width: 14%;
    }

    .sec-1 .cx-ava{
        max-width: 918px;
        margin: 0 auto 30px;
    }

    .sec-1 .cx-ava:hover{
        box-shadow: 2px 2px 5px #ffffff;
    }

    .sec-1 .cx-ava .ava-img{
        width: 14%;
    }

    .sec-1 .cx-ava .ava-desc-btn{
        width: 86%;
        padding-left: 30px;
    }

    .sec-1 .cx-ava .ava-desc-btn h1{
        font-size: 24px;
    }

    .sec-1 .cx-ava .ava-desc-btn p{
        font-size: 18px;
    }

    .sec-1 .cx-ava .ava-desc-btn a{
        font-size: 16px;
    }
}